<div class="container mt-6">
  <div class="center">
    <h1 class="display-4">Produits disponibles</h1>
  </div>
  <app-products-filter (productsFilterPriceSup)="receivePriceFilterSup($event)" (productsFilterPriceInf)="receivePriceFilterInf($event)" (productsFilterName)="receiveNameFilter($event)"></app-products-filter>
  <table>
    <thead>
      <tr>
        <th>Nom du produit</th>
        <th>Prix</th>
        <th>Détail du produit</th>
        <th>Ajouter au panier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of produits | async">
        <td>{{ item.nom }}</td>
        <td>{{ item.prix }}€</td>
        <td class="button-product"><button [routerLink]="['/detail',item.id]" type="button" class="btn btn-primary">Détail</button></td>
        <td class="button-product"><button (click)="addProduct(item)" type="button" class="btn btn-success">Ajouter</button></td>
      </tr>
    </tbody>
  </table>
</div>
