<div *ngIf="display" class="container">
  <div class="center">
    <h1 class="display-4 mt-3">Récapitulatif des données envoyées</h1>
  </div>
  <p>Civilité : {{client.civilite}}</p>
  <p>Nom : {{client.nom}}</p>
  <p>Prenom : {{client.nom}}</p>
  <p>Adresse : {{client.adresse}}</p>
  <p>Ville : {{client.ville}}</p>
  <p>Telephone : {{client.telephone}}</p>
  <p>Pays : {{client.pays}}</p>
  <p>Code postale : {{client.code_postale}}</p>
  <p>Email : {{client.email}}</p>
  <p>Login : {{client.login}}</p>
  <p>Mot de passe : {{client.password}}</p>
</div>
